* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 54%, 90%);
}

hr {
  margin-bottom: 1.5rem;
}

.recipe-card {
  background-color: #fff;
  width: 36rem;
  border-radius: 2rem;
  padding: 2.5rem;
  display: block;
  justify-content: center;
  flex-direction: column;
  margin: 5rem auto;
}

/* Simple omelette recipe */

.recipe-image {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

.recipe-title {
  color: hsl(24, 5%, 18%);
  font-family: "Young Serif", serif;
  font-size: 2.5rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
}

.recipe-description {
  color: hsl(24, 5%, 18%);
  font-family: "Outfit", sans-serif;
  margin-bottom: 1.5rem;
}

/* Preparation time */
.preparation {
  background-color: hsl(330, 100%, 98%);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Outfit", sans-serif;
}

.preparation-title {
  color: hsl(332, 51%, 32%);
  margin-bottom: 1.5rem;
}

.preparation-description {
  color: hsl(24, 5%, 18%);
  margin-left: 1.5rem;
  text-indent: 0;
  text-indent: -1rem;
}

.preparation-description::marker {
  color: hsl(332, 51%, 32%);
}

.preparation-description:not(:last-child) {
  margin-bottom: 1rem;
}

.preparation-name {
  color: hsl(24, 5%, 18%);
  font-weight: bolder;
  margin-left: 1rem;
}

/* Ingredients */
.ingredients {
  margin-bottom: 1.5rem;
}

.ingredients-name {
  color: hsl(14, 45%, 36%);
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
  font-family: "Young Serif", serif;
}

.ingredients-lists {
  font-family: "Outfit", sans-serif;
  color: hsl(24, 5%, 18%);
  margin-left: 1.5rem;
  text-indent: 0;
  text-indent: -1rem;
}

.ingredients-lists::marker {
  color: hsl(14, 45%, 36%);
}

.ingredients-lists:not(:last-child) {
  margin-bottom: 1rem;
}

.ingredients-lists-name {
  margin-left: 1rem;
}

/* Instructions */

.instructions-title {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
}

.instructions-description {
  color: hsl(24, 5%, 18%);
  font-family: "Outfit", sans-serif;
  margin: 0rem 0rem 0.5rem 2.5rem;
  list-style-type: none;
  line-height: 1.5rem;
  text-indent: 0;
  text-indent: -2rem;
}

.instructions-description:last-child {
  margin-bottom: 1.5rem;
}

.instructions-number {
  color: hsl(14, 45%, 36%);
  font-weight: bolder;
  margin-right: 1rem;
}

.instructions-name {
  color: hsl(24, 5%, 18%);
  font-weight: bolder;
}

/* Nutrition */
.nutrition-title {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
}

.nutrition-description {
  color: hsl(24, 5%, 18%);
  font-family: "Outfit", sans-serif;
  margin-bottom: 1.5rem;
}

.nutritionals {
  display: flex;
  flex-direction: column;
}

.nutritional-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; /* Adjust spacing between items */
}

.nutritional {
  color: hsl(24, 5%, 18%);
  font-family: "Outfit", sans-serif;
  margin-left: 2rem;
  flex: 1;
}

.value {
  color: hsl(14, 45%, 36%);
  font-family: "Outfit", sans-serif;
  font-weight: bolder;
  margin-right: 13rem;
}

.nutrition-hr {
  border: 0;
  border-top: 1px solid hsl(14, 45%, 80%);
  margin: 0.5rem 0;
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .recipe-card {
    width: 100%;
    border-radius: 0rem;
    margin: 0rem;
    padding: 0rem;
  }

  .recipe-image {
    border-radius: 0rem;
  }

  .mobile {
    padding: 0rem 2.5rem 2rem 2.5rem;
  }

  .recipe-mobile {
    padding: 0rem 2.5rem;
  }
}
